body {
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;  /* no comma , */
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap:0.2rem;
}

nav {
    background: linear-gradient(to right, #E5582E, #369196);
    grid-area: nav;
}

main {
    background: #64ffd0;
    grid-area: main;
}

#sidebar {
    background: #41c9a0;
    grid-area: sidebar;
}

#content1 {
    background: #14c5ae;
    grid-area: content1;
}

#content2 {
    background: #4adaa0;
    grid-area: content2;
}

#content3 {
    background: #0ce79e;
    grid-area: content3;
}

footer {
    background: #369196;
    grid-area: footer;
}

@media only screen and (max-width:550px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }

}